<div>
<%= render '/layouts/navbar' %>
    <div id="billboard">
      <%= link_to 'New Billboard', new_billboard_path %>
    </div>
  <ul>
    <% @billboards.each do |billboard| %>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui card">
            <div class="content">
                <%=link_to billboard.name, billboard, class: "header" %>
            </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
